<%= form_with(model: @task, local: true, url: choose_new_or_edit) do |form| %>
<% if @task.errors.any? %>
<div id="error_explanation">
  <h2><%= @task.errors.count %><%= t('application.msg_err_exists') %></h2>
  <ul>
    <% @task.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="task_name">
  <%= form.label :name, value: t('tasks.label_name') %>
  <%= form.text_field :name, id: 'new_task_name' %>
</div>
<div class="task_description">
  <%= form.label :description, value: t('tasks.label_description') %>
  <%= form.text_field :description, id:'new_task_description' %>
</div>

<div class="task_label">
  <%= form.label :label, value: t('tasks.label_label') %>
  <%= form.collection_check_boxes(:label_ids, Label.all, :id, :name) do |b| %>
  <%= b.label { b.check_box + "<span class='label label-info'>".html_safe() + b.text + "</span>".html_safe() } %>
  <% end %>
</div>

<div class="task_deadline">
  <%= form.label :deadline, value: t('tasks.label_deadline') %>
  <%= form.text_field :deadline, id:'new_task_deadline' %>
</div>
<div class="task_priority">
  <%= form.label :priority, value: t('tasks.label_priority') %>
  <select name="task[priority]" id="new_task_priority">
    <option value=""  <%= 'selected' if @task.priority.empty? %>></option>
    <option value='<%= t('tasks.enum_priority_low') %>' <%= 'selected' if @task.priority==t('tasks.enum_priority_low') %>> <%= t('tasks.enum_priority_low') %></option>	
    <option value='<%= t('tasks.enum_priority_low') %>' <%= 'selected' if @task.priority==t('tasks.enum_priority_normal') %>> <%= t('tasks.enum_priority_normal') %></option>
    <option value='<%= t('tasks.enum_priority_low') %>' <%= 'selected' if @task.priority==t('tasks.enum_priority_high') %>> <%= t('tasks.enum_priority_high') %></option>    
  </select>
  
</div>
<div class="task_status">
  <%= form.label :status, value: t('tasks.label_status') %>
  <select name="task[status]" id="new_task_status">
    <option value="" <%= 'selected' if @task.status.present? && @task.status=="" %>></option>
    <option value="1" <%= 'selected' if @task.status.present? && @task.status==1 %>>未着手</option>	
    <option value="2" <%= 'selected' if @task.status.present? && @task.status==2 %>>着手中</option>
    <option value="3" <%= 'selected' if @task.status.present? && @task.status==3 %>>完了</option>    
  </select>
</div>
<%= form.submit t('tasks.label_submit_new'), id:'new_task_submit' %>
<%= form.hidden_field :user_id, value: @current_user.id %>
<% end %>

<%= link_to t('tasks.label_link_back'), tasks_path %>
