<h3>確認</h3>
<%= form_with(model: @task, url: tasks_path, local: true) do |form| %>
  <%= form.hidden_field :name %>
  <%= form.hidden_field :description %>
  <p>名称:<%= @task.name %></p>
  <p>内容:<%= @task.description %></p>
  <%= form.submit "登録する", id:"confirm_task_submit" %>
  <%= form.submit "戻る", name: "back", id: "confirm_back_task_submit" %>
<% end %>
